extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th UserName
            th Pwd
            th 查看
            th 更新
            th 删除
        tbody
          each item in users
            tr(class="item-id-#{item.name}")
              td #{item.name}
              td #{item.password}
              td: a(href="../user/#{item.name}", target="_blank") 查看
              td: a(href="../admin/user/update/#{item.name}", target="_blank") 更新
              td: button.btn.btn-danger.del(type="button", data-id="#{item.name}") 删除
  script(src="/js/adminUser.js")